head{ text-align: center;
}
    body
{
    background-color: goldenrod;
    text-align: center;
    
 
    
        h1 {
          background-color: gray;
          
        }

        h2
        
        div {
          background-color: lightblue;
          text-align:center
        }
        
        ul.no-bullets {
            list-style-type: none;
            margin: 0;
            padding: 0;
          }