body

    
        h1 {
          background-color: gray;
          text-align: center;
        }

        h2
        
        div {
          background-color: lightblue;
          text-align:center
        }
        
        ul {
          background-color: goldenrod;
          
        
        }